body {
  /* Establece un fondo degradado con dos colores */
  background-image: url("../../img/81jnrg0rmpl-sl1500_wq1n.jpg");
  background-size: cover  ;/*contain --> el problema es que solo es en el container */ 
  background-repeat: no-repeat;
}
.h1-text{
  text-align: center;
}
.navBar{
  text-align: center;
  background-color: red;
}