.cards_component{
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
    gap: 56px;
}
.cards_component :hover{
    background-color: #a5a5a5e1;
    transform: scale(1.05);
    background: #a5a5a5e1;
    cursor: pointer;
}
