.cards_component{
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
    gap: 16px;
}
.cards_component :hover{
    background-color: #b7f0e4e1;
    transform: scale(1.05);
}